<!--<h1>doctor works</h1>-->
<app-navbar></app-navbar>

<div class="info" *ngIf ="isShowList">
  <div class="btn">
    <div class="form-date">

      <button mat-fab class="btn btn-primary" (click)="onAddBtnClick()">
        New
      </button>
      <button mat-fab extended class="btn btn-danger">
        Submited
      </button>
      
      <mat-form-field appearance="outline" style="margin-top: 20px; margin-left:800px">
        <mat-label>Search By Name</mat-label>
        <input matInput placeholder="Search Here">
        <mat-icon matSuffix>search</mat-icon>
        <!--<mat-hint>Hint</mat-hint>-->
      </mat-form-field>
    </div>
  </div>
</div>




<div class="dttablediv" *ngIf ="isShowList">
  <div class="mat-elevation-z8 tablecen">
    <table mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="employeeCode">
        <th  mat-header-cell *matHeaderCellDef class="text-white bg-dark">Employee Code </th>
        <td mat-cell *matCellDef="let element">  {{element.employeeCode}} </td>
      </ng-container>

      <ng-container matColumnDef="employeeName">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">Employee Name </th>
        <td mat-cell *matCellDef="let element">  {{element.employeeName}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">Gender </th>
        <td mat-cell *matCellDef="let element">  {{element.gender}} </td>
      </ng-container>
      <ng-container matColumnDef="mobileNo">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">Mobile No</th>
        <td mat-cell *matCellDef="let element">  {{element.mobileNo}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">Email</th>
        <td mat-cell *matCellDef="let element">  {{element.email}} </td>
      </ng-container>
      <ng-container matColumnDef="qualification">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Quelification </th>
        <td mat-cell *matCellDef="let element">  {{element.qualification}} </td>
      </ng-container>

      <ng-container matColumnDef="jobSpecification">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> jobSpecification </th>
        <td mat-cell *matCellDef="let element">  {{element.jobSpecification}} </td>
      </ng-container>


      Symbol Column
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Edit </th>
        <td mat-cell *matCellDef="let element">
          <span class="material-icons" style="color:blueviolet; size: 15px;">mode_edit</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Delete </th>
        <td mat-cell *matCellDef="let element">
          <span class="material-icons" style="color:red; size: 15px;">delete</span>
        </td>
      </ng-container>

      (click)="onEdit(element.admissionid)"
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<!--#region Add View-->
<div *ngIf="isAdd">
  <mat-card>
    <mat-card-header class="bg-dark">
      <mat-card-title class="text-white">Add New Employee</mat-card-title>
      <!--<mat-card-subtitle>End</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
      <div class="popdiv">
        <form [formGroup]="employeeForm">
          <div class="row col-md-12">

            <div class="col-md-4">             
                
                <mat-form-field appearance="outline" class="fieldsize">
                  <mat-label>Department : </mat-label>
                  <mat-select formControlName="departmentid">

                    <mat-option *ngFor="let dep of departmentList" value="{{dep.departmentId}}"> {{dep.departmentName}}  </mat-option>

                  </mat-select>
                </mat-form-field>
                <mat-error *ngIf="employeeForm.invalid">Department Is Required</mat-error>
             
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize" required>
                <mat-label>Employee Type</mat-label>
                <mat-select formControlName="employeetype">

                  <mat-option value="1">Doctor</mat-option>
                  <mat-option value="2">Nurses</mat-option>
                  <mat-option value="3">Medical Support Staff</mat-option>
                  <mat-option value="4">Health Assistance</mat-option>
                  <mat-option value="5">Other Staff</mat-option>

                </mat-select>
                <mat-error *ngIf="employeeForm.invalid">Employee Type Is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize required">
                <mat-label>Employee Code</mat-label>
                <input matInput placeholder="1234" formControlName="employeecode">
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
                <mat-error *ngIf="employeeForm.invalid">Employee Code Length Must Be 4 Degite</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize" required>
                <mat-label>Employee Name</mat-label>
                <input matInput placeholder="ABC" formControlName="employeename">
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
                <mat-error *ngIf="employeeForm.invalid">Employee Name Is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize" required>
                <mat-label>Select Gender</mat-label>
                <mat-select formControlName="gender">

                  <mat-option value="1">Male</mat-option>
                  <mat-option value="2">Female</mat-option>
                  <mat-option value="3">Other</mat-option>

                </mat-select>
                <mat-error *ngIf="employeeForm.invalid">Please Select Gender</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize" required>
                <mat-label>Mobile Number</mat-label>
                <input matInput placeholder="9999999999" formControlName="mobileno">
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
                <mat-error *ngIf="employeeForm.invalid">Please Enter Valid Mobile Number</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize" required>
                <mat-label>Email</mat-label>
                <input matInput placeholder="ABC@gamil.com" formControlName="email">
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
                <mat-error *ngIf="employeeForm.invalid">Please Enter Valid Email</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize" required>
                <mat-label>Qualification</mat-label>
                <input matInput placeholder="MBBS" formControlName="qualification">
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
                <mat-error *ngIf="employeeForm.invalid">Qualification Is Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="fieldsize" required>
                <mat-label>Job Specification</mat-label>
                <input matInput placeholder="Job Specification" formControlName="jobspecification">
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
                <mat-error *ngIf="employeeForm.invalid">Job Specification Is Required</mat-error>
              </mat-form-field>
            </div>

          </div>
        </form>
      </div>

      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end" class="bg-dark">
      <!--<button mat-button>LIKE</button>
      <button mat-button>SHARE</button>-->
      <button mat-fab class="btn btn-danger " (click)="onBackBtnClick()">Cancel</button>
      <button mat-fab class="btn btn-success " style="margin-left:15px;" (click)="addNewEmployee()">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
<!--#endregion end add view-->
