<div class="mydiv container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Hospital Management System Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br />
        
          <mat-form-field>
            <mat-label>User Name</mat-label>
            <input matInput placeholder="User Name" formControlName="name">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter your password</mat-label>
            <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
        

        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
        <!--<button mat-button type="submit" [disabled]="myForm.invalid"> <a [routerLink]="/dashboard">LIKE</a></button>
  <button mat-button>SHARE</button>-->
        <a routerLink='dashboard'>submit</a>
      </mat-card-actions>
      <mat-card-footer>
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      </mat-card-footer>
    </mat-card>
  </form>
</div>
<router-outlet></router-outlet>
