<app-navbar></app-navbar>
<!--#region list view-->

<div *ngIf="isShowList">
  <div class="info">
    <div class="btn">
      <div class="form-date">

        <button mat-fab class="btn btn-primary" (click)="onAddBtnClick()">
          <!--(click)="openDialog()"-->
          New
        </button>
        <button mat-fab extended class="btn btn-danger">
          Submited
        </button>
        <br>
        <mat-form-field appearance="outline" style="margin-top:20px">
          <mat-label>Search By Name</mat-label>
          <input matInput placeholder="Search Here">
          <mat-icon matSuffix>search</mat-icon>
          <!--<mat-hint>Hint</mat-hint>-->
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="dttablediv" *ngIf="isShowList">
    <div class="mat-elevation-z8 tablecen">
      <table mat-table [dataSource]="dataSource">

        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">First Name</th>
          <td mat-cell *matCellDef="let element">  {{element.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">Last Name </th>
          <td mat-cell *matCellDef="let element">  {{element.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="mobileNo">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Mobile No </th>
          <td mat-cell *matCellDef="let element">  {{element.mobileNo}} </td>
        </ng-container>

        <ng-container matColumnDef="emergencyContectNo">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">Emergency Mobile No </th>
          <td mat-cell *matCellDef="let element">  {{element.emergencyContectNo}} </td>
        </ng-container>

        <ng-container matColumnDef="birthDate">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Birth Date </th>
          <td mat-cell *matCellDef="let element">  {{element.birthDate}} </td>
        </ng-container>


        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Email </th>
          <td mat-cell *matCellDef="let element">  {{element.email}} </td>
        </ng-container>

        <ng-container matColumnDef="disease">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Disease </th>
          <td mat-cell *matCellDef="let element">  {{element.disease}} </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">  Gender </th>
          <td mat-cell *matCellDef="let element">  {{element.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Address </th>
          <td mat-cell *matCellDef="let element">  {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="bloodGroup">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Blood Group </th>
          <td mat-cell *matCellDef="let element">  {{element.bloodGroup}} </td>
        </ng-container>

        <ng-container matColumnDef="medicalIssue">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Medical Issue </th>
          <td mat-cell *matCellDef="let element">  {{element.medicalIssue}} </td>
        </ng-container>

        <ng-container matColumnDef="doctorId">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">  Doctor Name </th>
          <td mat-cell *matCellDef="let element">  {{element.doctorId}} </td>
        </ng-container>

        <ng-container matColumnDef="visiteDate">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark">  Visite Date </th>
          <td mat-cell *matCellDef="let element">  {{element.visiteDate}} </td>
        </ng-container>


        <ng-container matColumnDef="timeingShift">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Timeing Shift  </th>
          <td mat-cell *matCellDef="let element">  {{element.timeingShift}} </td>
        </ng-container>


        <!--Symbol Column-->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark" > Edit </th>
          <td mat-cell *matCellDef="let element">
            <span class="material-icons"  role="button" style="color:blueviolet; size: 15px;" (click)="onEdit(element)">mode_edit</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef class="text-white bg-dark"> Delete </th>
          <td mat-cell *matCellDef="let element">
            <span class="material-icons" style="color:red; size: 15px;">delete</span>
          </td>
        </ng-container>

        <!--(click)="onEdit(element.admissionid)"-->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<!--#endregion end listview-->


<!--#region Add View-->
<div *ngIf="!isShowList">
  <mat-card >
    <mat-card-header class="bg-dark headermargin">
      <mat-card-title class="text-white">Paitent Details</mat-card-title>
      <button class="btn btn-primary backbtn" (click)="onBackBtnClick()">Back To List</button>
      <!--<mat-card-subtitle>End</mat-card-subtitle>-->
    </mat-card-header>
    <mat-card-content>
      <div class="popdiv">
        <form [formGroup]="paitentForm">
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline" class="col-6">
                <!--formControlName="paitentName"-->
                <mat-label>Paitent Name</mat-label>
                <input matInput placeholder="ABC" formControlName="paitentName">
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Medical Issue</mat-label>
                <input matInput placeholder="Medical Issue" formControlName="medicalIssue">
                <!--formControlName="disease"-->
                <!--<mat-icon matSuffix>search</mat-icon>-->
                <!--<mat-hint>Hint</mat-hint>-->
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-6">

              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Department : </mat-label>
                <mat-select  (selectionChange)="getDoctors($event.value)">

                  <mat-option *ngFor="let dep of departmentList" value="{{dep.departmentId}}"> {{dep.departmentName}}  </mat-option>

                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-6">
              <mat-form-field appearance="outline" class="col-6">
                <mat-label>Assign To : </mat-label>
                <mat-select formControlName="assignToId">

                  <mat-option *ngFor="let doc of doctorList" value="{{doc.employeeId}}"> {{doc.employeeCode}}  -  {{doc.employeeName}} - {{doc.qualification}} </mat-option>

                </mat-select>
              </mat-form-field>
            </div>
           
          </div>
          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline" class="col-6">
                <mat-select formControlName="status">
                  <mat-option value="New">New</mat-option>
                  <mat-option value="InProgress">In Progress</mat-option>
                  <mat-option value="Admit">Admit</mat-option>
                  <mat-option value="Discharged">Discharged</mat-option>
                </mat-select>
                <mat-label>Status</mat-label>
              </mat-form-field>
            </div>
          </div>
            <div class="col-12 mt-3">
              <mat-form-field class="col-12" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea matInput
                          cdkTextareaAutosize
                          #autosize="cdkTextareaAutosize"
                          cdkAutosizeMinRows="1"
                          cdkAutosizeMaxRows="20"
                          formControlName="description"
                          ></textarea>
                <!---->
              </mat-form-field>
            </div>

            <div class="col-12 mt-3">
              <mat-form-field appearance="outline"  class="col-12"  >
                <!--formControlName="medicine"-->
                <mat-label>Select Medicine</mat-label>
                <mat-select formControlName="medicineIds"  multiple >
                  <mat-option *ngFor="let medicine of medicineList" [value]="medicine.medicineId">{{medicine.medicineName}}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>

        </form>
      </div>

      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end" class="bg-dark">
      <!--<button mat-button>LIKE</button>
      <button mat-button>SHARE</button>-->
      <button mat-fab class="btn btn-danger " (click)="onBackBtnClick()">Cancel</button>
      <button mat-fab class="btn btn-success " style="margin-left:15px;" (click)="addPaitentVisite()">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
<!--#endregion end of Add view-->
