.paybtn {
  margin-left: 1236px;
  margin-top: 31px;
  margin-bottom: 18px;
  padding: 21px;
  border-radius: 50px;
  padding-left: 51px;
  padding-right: 51px;
  background-color: rgb(75, 148, 75);
  color: white;
}
