<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paitent">paitent</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/doctor">Doctor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/paitentvisitedashboard">Paitent Visite</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/homeui">Dashboardd</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">{{userName}}</a>
      </li>
    </ul>-->
<!--<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>-->
<!--</div>
</nav>-->
<!-- Topbar Start -->
<div class="container-fluid py-2 d-none d-lg-flex">
  <div class="container">
    <div class="d-flex justify-content-between">
      <div>
        <small class="me-3"><i class="fa fa-map-marker-alt me-2"></i>123 Street, New York, USA</small>
        <small class="me-3"><i class="fa fa-clock me-2"></i>Mon-Sat 09am-5pm, Sun Closed</small>
      </div>
      <nav class="breadcrumb mb-0">
        <a class="breadcrumb-item small text-body" href="#">Career</a>
        <a class="breadcrumb-item small text-body" href="#">Support</a>
        <a class="breadcrumb-item small text-body" href="#">Terms</a>
        <a class="breadcrumb-item small text-body" href="#">FAQs</a>
      </nav>
    </div>
  </div>
</div>
<!-- Topbar End -->
<!-- Brand Start -->
<div class="container-fluid bg-primary text-white pt-4 pb-5 d-none d-lg-flex">
  <div class="container pb-2">
    <div class="d-flex align-items-center justify-content-between">
      <div class="d-flex">
        <i class="bi bi-telephone-inbound fs-2"></i>
        <div class="ms-3">
          <h5 class="text-white mb-0">Call Now</h5>
          <span>+012 345 6789</span>
        </div>
      </div>
      <a href="index.html" class="h1 text-white mb-0">Lab<span class="text-dark">sky</span></a>
      <div class="d-flex">
        <i class="bi bi-envelope fs-2"></i>
        <div class="ms-3">
          <h5 class="text-white mb-0">Mail Now</h5>
          <span>info@example.com</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Brand End -->
<!-- Navbar Start -->
<div class="container-fluid sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-lg-0 px-lg-3">
      <a href="index.html" class="navbar-brand d-lg-none">
        <h1 class="text-primary m-0">Lab<span class="text-dark">sky</span></h1>
      </a>
      <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a  class="nav-item nav-link active">Home</a>
          <a routerLink="/doctor" class="nav-item nav-link ">Employee</a>
          <a routerLink="/paitent" class="nav-item nav-link ">Paitent</a>
          <a routerLink="/paitentvisitedashboard" class="nav-item nav-link">Paitent Visite</a>
          <a routerLink="/medicaldepartment" class="nav-item nav-link">Medical Department</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
            <div class="dropdown-menu bg-light m-0">
              <a routerLink="/homeui" class="dropdown-item">Features</a>
              <a href="team.html" class="dropdown-item">Our Team</a>
              <a href="testimonial.html" class="dropdown-item">Testimonial</a>
              <a href="appoinment.html" class="dropdown-item">Appoinment</a>
              <a href="404.html" class="dropdown-item">404 Page</a>
            </div>
          </div>
          <a href="contact.html" class="nav-item nav-link">Contact</a>
        </div>
        <div class="ms-auto d-none d-lg-flex">
          <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-twitter"></i></a>
          <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-sm-square btn-primary ms-2" href=""><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Navbar End -->

<router-outlet></router-outlet>
